h1, h2.main-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    top: 30%;
    text-align: center;
    position: relative;
    font-size: 90px;
}

hr {
    color: green;
    border: 2px solid;
    margin-left: 6%;
    margin-right: 6%;
}

p, ul {
    margin-left: 6%;
    margin-right: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: Medium;
}

h2.main-title, h2 {
    font-size: 60px;
    top: 50%;
    margin-left: 6%;
    margin-right: 6%;s
}

.top{
    background-image: url('../img/1.jpeg');
    background-size: cover;
    height: 30rem;  
    background-repeat: no-repeat;
}